<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>Cph Airport Scraper For Abtion</title>
		<script src="/javascripts/vue.min.js"></script>
		<script src="/javascripts/vue-resource.min.js"></script>
		<script src="/javascripts/moment.min.js"></script>
		<script src="/javascripts/rome.standalone.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/rome.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>

		<div id="app">

				<div class="label">
						Looking at 
						<select class="rd-time" v-model="direction">
							<option value="" selected=true>Both directions</option>
							<option >Inbound</option>
							<option >Outbound</option>
						</select>
 						from/to 
						<select v-model="airport">
  							<option selected=true v-bind:value="">Any</option>
  							<option v-for="option in airports" v-bind:value="{{.}}">
    				  		{{ option }}
  							</option>
				  		</select>
 				  	  	for
						<select v-on:change="changeDate" v-model="date">
  							<option 
 							v-for="o in dates" v-bind:selected="o.selected" v-bind:value="o.value">
    				  		{{ o.friendlyLabel }}
  							</option>
				  		</select>
 				  	  	between
						<span class="rome" id="from"></span>
 				  	  	and
						<span class="rome" id="till"></span>
				</div>
				<div id="list">
					<div class="entry"
						v-if="item.epoch < epochTill && item.epoch > epochFrom"
						v-for="item in data.flights 
						| filterBy airport in 'destination'
						| filterBy direction in 'direction'">
					<span class="icon {{ item.direction }}"></span>
					<span class="time">{{ item.militaryTime }}</span>
					<span class="airline">{{ item.airlines | truncate 20 }}</span>
					<span class="destination" v-on:click="changeDestination(item.destination)" v-bind:style="{ borderBottomColor: item.color }" >{{ item.destination }}</span>
				</div>
			</div>
		</div>
	</div>

		<script src="/javascripts/app.js"></script>
	</body>
</html>
