@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@accent: #eee;
@cphlightblue: #C6D6E8;
@cphorange: #FECC07;
@cphblue: #454D72;
@cphnavy: #071143;

body {
  padding: 30px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

select{
	width:130px;
}

a {
  color: #00B7FF;
}

.label{
	background-color: @accent;
	padding: 10px 15px;
	margin-bottom:1em;
}

.icon{
    width: 1em;
    padding: 4px;
	font-weight: bold;
}
.inbound:after{
	color: @cphnavy;
	content:"↙";
}
.outbound:after{
	color: @cphorange;
	content:"↗";
}

.destination{
	border-bottom: #eee 3px solid;
    width: auto;
    left: 330px;
    position: absolute;
    cursor:pointer;
    // font-weight: bold;
}

.airline {
	padding: 0px 1em;
	min-width:100px;
}
.time {
	padding: 0px 1em;
}
.to {
    left: 220px;
    position: absolute;
}
.entry{
    width: 70%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 0.5em;
    padding: 0.5em 0em;
    // border-left: 0.5em ;
    // border-left-style: solid;
    // border-left-color: @accent;
    padding-left: 10px;
}
.picktime .rome{
	float:left;
}

#list{
	width: 100%;
}

// overwritting calendars
.rd-container{
	border: none !important;
	background-color: transparent !important;
	text-align: left !important;
	padding: 0 !important;
    margin: 0px 5px;
}

.rd-time-selected {
    padding: 10px;
}

select {
    padding:10px;
    margin: 0px 5px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    background: #333;
    color: #fff;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font: inherit;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
